# Gitignore for SVG_plot
# ignore all log file in any directory
*.log
/**/*.bat
/**/*.bak
/**/*.db
/**/*.patch
doc/doxywarnings.log
doc/autodoc.xml
# doc/html/
doc/*.lnk
doc/doxygen/html/
doc/bin/




/include/boost/svg_plot/detail/wcwidth.c
